footer {
  text-align: center;
}

.App-header img {
  max-width: 100px;
  padding: 10px;
}

.App-header h1 {
  left: 10px;
  text-align: center;
}

.App-header h2 {
  text-align: center;
}

.App-header {
  border: 2px solid red;
  max-width: 100%;
}

.container {
  margin-top: 20px;
  border: 2px solid red;
  max-width: 100%;
}
