footer {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
}

.App-header img {
  max-width: 100px;
  padding: 10px;
}

.App-header h1 {
  left: 10px;
  text-align: center;
  font-family: "Delius Unicase", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.App-header {
  border: 10px solid #d2dbc7;
  max-width: 90%;
  border-radius: 20px;
  background-color: #d2dbc7;
  margin: 30px;
  margin-bottom: 20px;
}

.container {
  margin-top: 20px;
  border: 10px solid #d2dbc7;
  max-width: 90%;
  border-radius: 20px;
}
.box-header {
  color: beige;
}

.dots {
  font-size: 40px;
}
.App .conatiner {
  box-shadow: black;
}
