.Dictionary {
  text-align: center;
  margin: 20px;
}
h2 {
  text-align: center;
  background-color: #d2dbc730;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
  background-color: #d2dbc71a;
}

.box-header {
  background-color: #d2dbc7;
}
.search-form .input {
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.input {
  font-size: 5px;
}

.search-button {
  background-color: transparent;
  border: transparent;
  padding: 10px;
}

.search-button:focus {
  outline: none;
}

.search-button:hover {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
